<!DOCTYPE html>

<html>
    <head>
        <!-- Loading title in tab bar -->
        <title>{{title}}</title>

        <!-- Loading CSS Style sheet -->
        <link rel="stylesheet" href="/css/style.css"/>
    </head>
    <body>

        <!-- Body Root Div-->
        <div id="root-dv" class="root-dv">

            <!-- Body Header Partial Div-->
            <div id="bh-dv" class="bh-dv fixed-head">
                <!-- Loading Header Partial-->
            {{>header}}
            </div>

            <!-- Main Body Content Div Partial Div-->
            <div id="bm-dv" class="bm-dv">

                <div class="bm-dv1">
                    <div class="content-center">
                        <h1>{{errMsg}}</h1>
                    </div>
                </div>
            </div>
        </div>


        <!-- Body Footer Partial Div-->
        <div class="content-center">
            <!-- Loading Footer Partial-->
            {{>footer}}
        </div>
        

        <!-- Loading All Required JavaScripts-->
    </body>
</html>